html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

li {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  font-weight: bold;
}

.wrap {
  width: 67%;
  max-width: 2000px;
}


/* ここまで共通事項 */

/* ここから [header]  */

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo--img {
  width: 100px;
  margin: 10px;
}

.header__logo--right-list {
  display: flex;
  opacity: 0.5;
}

.header__logo--right-item {
  font-size: 1.2rem;
  padding: 20px 20px;
} 

/* ここから[ロゴ] */

.header__logo--main-img{
  width: 100%;
  position: relative;
}

.header__logo--backimg {
  width: 100%;
}

.header__logo--rightimg {
  position: absolute;
  top: 30px;
  right: 0;
  width: 10%;
}

/* ここから[news] */

.container__wrap {
  background: url(images/mainback.jpg) no-repeat center;
  padding-top: 50px;
}

.news {
  position: relative;
}

.container__news--top {
  position: absolute;
  width: 100%;
  height: 20px;
  top: -20px;
  left: 0;
  z-index: 5;
}

.container__news {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
  font-size: 1.4rem;
}

.container__news--ttl {
  width: 20%;
  margin-bottom: -5px;
}

.container__news--date {
  width: 22%;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 2%;
}

.container__news--date::before {
  content: "NEW";
  background: #ff5649;
  color: #fff;
  padding: 0% 4%;
  border-radius: 10%;
  margin-right: 8%;
  position: relative;
  display: inline-table;
}

.container__news--item {
  background: url(images/news_arrow_icn_pc.png) no-repeat;
  width: 100%;
  display: inline-block;
  padding-left: 1.5%;
  background-position: 0 0.4em;
  background-size: 1.1%;
}

.container__news--sns-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container__news--list {
  padding-left: 30px;
}

.container__news--list li{
  display: flex;
  margin: 5px 0;
}

.container__news--sns {
  margin: 20px 0 0 20px;
}

.container__news--sns-txt {
  margin: 5px 0;
  color: #fff;
}

.container__news--sns--img {
  width: 40%;
}

.swrap {
  width: 65%;
  max-width: 960px;
  margin: 0 auto;
}

/* ここから[イベント] */


.event {
  background: url(images/mainback.jpg) no-repeat center;
}

.container__event--box {
  display: flex;
  width: 100%;
  padding: 20px 0 0;
  font-size: 1.4rem;
}

.container__event--lbox,
.container__event--rbox {
  background: rgba(70, 170, 107, 0.5);
  border-radius: 5px;
  margin-right: 20px;
  padding: 10px;
  width: 50%;
}

.container__event--litem,
.container__event--ritem {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.container__event--litem dt {
  width: 35%;
}

.container__event--litem dd {
  width: 65%;
}

.container__event--ritem dt {
  width: 50%;
}

.container__event--ritem dd {
  width: 50%;
}

.container__event--announce {
  height: 20px;
  max-width: 100%;
  margin: 0 0 5px;
}

/* ここからインフォ */

.info {
  background: url(images/mainback.jpg) center;
  padding: 30px 0 50px;
}

.info__animal--wrap {

  background: url(images/btn-box_bg01_pc.png), url(images/btn-box_bg02_pc.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 100% 0;
  background-size: 16.6% auto, 18.5%, auto;
  text-align: center;
  margin-top: -8%;
  margin-bottom: 3%;
  padding-top: 11%;

}

.info__animal--wrap-btn {
  position: relative;
}

.info__animal--boyimg {
  position: absolute;
  bottom: 0;
  right: 15%;
  width: 13%;
}

.info__animal--img-bbtn {
  width: 60%;
  margin: 10px auto;
}

.info__animal--wrap-p {
  position: relative;
}

.info__girl--limg {
  position: absolute;
  width: 25%;
  bottom: 10%;
  left: 15%;
}

.info__girl--rimg {
  position: absolute;
  width: 20%;
  bottom: 10%;
  right: 17%;
}

.info__animal--list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 67%;
  max-width: 2000px;
  margin: 0 auto;
}

.info__animal--list li {
  width: 47%;
  margin: 0 1.5%;
}

.info__animal--img-btn {
  width: 100%;
}

.info__animal--wrap-p {
  text-align: center;
}

/* ここから手紙 */

.letter {
  background: url("images/timeline_bg_pc.webp");
  margin-top: -25px;
  padding: 100px 0 180px;
}

/* ここからボトム */

.bottom {
  background: url(images/mainback.jpg) no-repeat center;
  margin-top: -50px;
  position: relative;
  height: 500px;
}

.bottom__top--img {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0px;
  left: 0;
}

.bottom__animal--wrap {
  background: url(images/spec_chara01_pc.webp), url(images/spec_chara02_pc.webp);
  background-repeat: no-repeat, no-repeat;
  background-position: 10% 20px, 90% 30px;
  background-size: 13% auto, 15%, auto;
  /* height: auto; */
  padding-bottom: 100px;
}

.bottom__animal--list {
  display: flex;
  width: 80%;
  margin: 0 auto;
  color: #827157;
  padding: 100px 0;
}

.bottom__backimg {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 60px;
  left: 40%;
  transform: translate(-40%);
}

.bottom__animal--lbox {
  display: block;
}

.bottom__animal--lbox,
.bottom__animal--rbox {
  width: 40%; 
  display: block;
  z-index: 3;
}

.bottom__animal--litem {
  display: flex;
 flex-wrap: wrap;
}


.bottom__animal--litem dt {
  width: 25%;
  margin: 5px 0;
  background: url(images/spec_info_icn_pc.webp) no-repeat;
  background-size: 14% auto;
  padding-left: 5%;
} 

.bottom__animal--litem dd  {
  width: 70%;
  margin: 5px 0;
}

.bottom__animal--ritem {
  margin: 5px 0;
}

.bottom__animal--line {
  width: 100%;
  height: 100px;
  margin: 150px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
}


/* ここからフッター */

.footer__box {
  background: url("images/footer_bg_pc.webp");
  padding: 25px 0 10px;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
}

.footer__box {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer__box--left {
  display: flex;
}

.footer__box--litem {
  margin-right: 10px;
}

.footer__box--litem:first-child {
  margin-left: 10px;
}

.footer__box--right {
  display: flex;

}

.footer__box--ritem {
  margin-right: 10px;
}

.twitter,
.facebook {
  width: 70px;
  height: 20px;
}

/* ここからスライダー */


.slider li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.slider__item {
  margin: 0 20px;
  padding: 0 0 10px 0;
  background: #fff;
  font-size: 1.6rem;
  color: #827157;
}

.slider__item--clip-img {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%);
  width: 50px;
}

.slider__img {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
}

.slider__txt {
  width: 80%;
  margin: 10px auto;
}

.slider__date {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}

.slider__item {
  margin: 0 10px;
}

.slick-dots {
  border: solid 4px #fff;
  height: 7px;
  border-radius: 10px;
  width: 80% !important;
  overflow: hidden;
  bottom: -50px!important;
  position: relative;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}

/* ドットのサイズと色を大きくする */
main .slick-dots li button:before {
  content: '';
	background: rgb(52, 200, 185);
  width: 100%;
}

.slick-dots li {
  width: 9.0%!important;
  height: 50px!important;
  margin: 0!important;
  position: absolute;
  top: -10px;
  left: 0;
}

.prev-arrow {
  position: absolute;
  bottom: -70px;
  left: 15px;
}

.next-arrow {
  position: absolute;
  bottom: -70px;
  right: 15px;
}


