<div class="container__about">
  <p class="container__about--meatkitchen">
    ミートキッチンについて
  </p>
  <ul class="container__about--slider">
    <li>
    <img src="images/a-menu1.jpg" alt="スライダーメニュー" class="container__about--slider-item">
    </li>
    <li>
    <img src="images/a-menu2.jpg" alt="スライダーメニュー" class="container__about--slider-item">
    </li>
    <li>
    <img src="images/a-menu3.jpg" alt="スライダーメニュー" class="container__about--slider-item">
    </li>
    <li>
    <img src="images/a-menu4.jpg" alt="スライダーメニュー" class="container__about--slider-item">
    </li>
    <li>
    <img src="images/a-menu5.jpg" alt="スライダーメニュー" class="container__about--slider-item">
    </li>
    <li>
    <img src="images/a-menu6.jpg" alt="スライダーメニュー" class="container__about--slider-item">
    </li>
    <li>
    <img src="images/a-menu7.jpg" alt="スライダーメニュー" class="container__about--slider-item">
    </li>
  </ul>


<div class="container__about--good">
   <ul class="container__about--goodlist wrap">
    <li>
      <div class="container__about--good-pic">
        <img src="images/a-good1.jpg" class="container__about--good-img">
      </div>
      <div class="container__about--good-box">
        <h2 class="container__about--goodttl">
          room
        </h2>
        <p class="container__about--goodtxt fadein">
          日常を忘れる空間。<br class="br-pc">ゆったりとした時間が流れます。
        </p>
      </div>  
    </li>

    <li>
      <div class="container__about--good-pic">
       <img src="images/a-good2.jpg" class="container__about--good-img">
       </div>
       <div class="container__about--good-box">
        <h2 class="container__about--goodttl">
         food
        </h2>
        <p class="container__about--goodtxt fadein">
          厳選の国産肉・淡路島でとれる有機野菜でつくる料理は、どれも満足してもらえること間違いなしです。
        </p>
       </div>
    </li>

    <li>
      <div class="container__about--good-pic">
        <img src="images/a-good3.jpg" class="container__about--good-img">
      </div>
      <div class="container__about--good-box">
        <h2 class="container__about--goodttl">
          dessert
        </h2>
        <p class="container__about--goodtxt fadein">
          Meat Kitchenは、デザートにも力を入れています。数あるケーキは、毎日店内で作っています。
        </p>
      </div>
    </li>

    <li>
      <div class="container__about--good-pic">
        <img src="images/a-good4.jpg" class="container__about--good-img">
      </div>
      <div class="container__about--good-box">
        <h2 class="container__about--goodttl">
          runch
        </h2>
        <p class="container__about--goodtxt fadein">
          2021年5月からランチも開始しました。夜とはまた違うMeat Kitchenをお楽しみください。
        </p>
      </div>
    </li>
  </ul>

</div>

</div>