<div class="commitment__eat">
  <div class="commitment__eat--vd">
    <video src="images/steak-video.mov" loop autoplay muted playinline class="commitment__eat--video"></video>
  </div>
    <h2 class="commitment__eat--ttl">
      肉本来の旨みを、ぜいたくに味わう
    </h2>
    <div class="commitment__main wrap">
      <h2 class="commitment__eat--meatkitchen">
        お肉を食べよう
      </h2>
      <p class="commitment__eat--meatkitchen-txt">
        最近、お肉食べましたか？
      </p>
      <p class="commitment__eat--meatkitchen-txt">おいしいお肉を食べて、笑顔になってほしい。</p>
      <p class="commitment__eat--meatkitchen-txt">明日からの活力にしてほしい。<br>
        そんな想いから「Meat Kitchen」は生まれました。
      </p>
      <ul class="commitment__eat--list">
        <li>
          <img src="images/commit2.png" class="commitment__eat--img">
          <p class="commitment__eat--txt">
            Meat　Kitchenの主役はお肉。
            飼料にこだわって育てている、地元の「ゆめ牧場」から仕入れています。
          </p>
        </li>
        <li>
          <img src="images/commit3.png" class="commitment__eat--img">
          <p class="commitment__eat--txt">野菜は、淡路島の有機野菜を使用。水々しく、甘味のある野菜を素材のままお愉しみいただけます。
        </li> 
        <li> 
          <img src="images/commit1.png" class="commitment__eat--img">
         <p class="commitment__eat--txt">当店では、スパイスにもこだわっています。自家製のスパイスはなんと50種類以上。お土産にお持ち帰りいただくことも可能です。</p> 
         </li>
    </div>

</div>