<div class="menu">
  <div class="menu__list">
    <div class="menu__list--items fadein">
      <h2 class="menu__list--ttl">
        SALAD
      </h2>
      <dl class="menu__list--item">
        <dt>
        <b>手仕込みローストビーフサラダ</b> 
        </dt>
        <dd>
        <b>……… 820(+tax)</b>
        </dd>
        <dt>
        <b>削りたてたっぷり生ハムのシーザーサラダ</b>
        </dt>
        <dd>
        <b>……… 820(+tax)</b>
        </dd>
        <dt>トマトと黒豚の冷しゃぶごまサラダ
        </dt>
        <dd>
        ……… 820(+tax)
        </dd>
        <dt>
        5種の野菜の彩りサラダ
        <dd>
        ……… 820(+tax)
        </dd>
        <dt>
        ごろごろ野菜のバーニャカウダ
        </dt>
        <dd>
        ……… 990(+tax)
        </dd>
      </dl>
      <img src="images/m11.png" class="menu__list--limg">
    </div>
    <div class="menu__list--items fadein">
      <h2 class="menu__list--ttl">
        MEAT
      </h2>
      <dl class="menu__list--item">
        <dt>
        <b>和牛のフィレステーキ 100g</b> 
        </dt>
        <dd>
        <b>……… 1190(+tax)</b>
        </dd>
        <dt>
        <b>自家製ローストビーフ 150g</b>
        </dt>
        <dd>
        <b>……… 1190(+tax)</b>
        </dd>
        <dt>こだわりの鴨ロースト120g
        </dt>
        <dd>
        ……… 1190(+tax)
        </dd>
        <dt>
        ハーブチキン1羽
        </dt>
        <dd>
        ……… 1590(+tax)
        </dd>
        <dt>
        ハーブチキンハーフ
        </dt>
        <dd>
        ……… 790(+tax)
        </dd>
        <dt>
        和牛のカルパッチョ わさびソース
        </dt>
        <dd>
        ……… 990(+tax)
        </dd>
        <dt>
        和牛肉寿司 2貫
        </dt>
        <dd>
        ……… 490(+tax)
        </dd>
        <dt>
        牛タンのトマト煮込み
        </dt>
        <dd>
        ……… 790(+tax)
        </dd>
        <dt>
        スペアリブ
        </dt>
        <dd>
        ……… 990(+tax)
        </dd>
      </dl>
      <img src="images/m3.png" class="menu__list--rimg">
    </div>
    <div class="menu__list--items fadein">
      <h2 class="menu__list--ttl">
        FRIED
      </h2>
      <dl class="menu__list--item">
        <dt>
        <b>2日間漬け込みからあげ 塩麹/赤味噌</b> 
        </dt>
        <dd>
        <b>……… 760(+tax)</b>
        </dd>
        <dt>
        <b>カマンベールチーズもち 蜂蜜ソースかけ</b>
        </dt>
        <dd>
        <b>……… 490(+tax)</b>
        </dd>
        <dt>フライドポテト 塩/アンチョビ/トリュフ
        </dt>
        <dd>
        ……… 550(+tax)
        </dd>
        <dt>
        自家製男爵芋のポテトチップス
        </dt>
        <dd>
        ……… 660(+tax)
        </dd>
        <dt>
        淡路島産たまねぎを使ったオニオンリング
        </dt>
        <dd>
        ……… 490(+tax)
        </dd>
      </dl>
      <img src="images/m8.png" class="menu__list--limg">
    </div>
    <div class="menu__list--items fadein">
      <h2 class="menu__list--ttl">
        PIZZA
      </h2>
      <dl class="menu__list--item">
        <dt>
        <b>炭火香るステーキピザ</b> 
        </dt>
        <dd>
        <b>……… 1260(+tax)</b>
        </dd>
        <dt>
        <b>ごろごろポークの下町ピザ</b>
        </dt>
        <dd>
        <b>……… 1190(+tax)</b>
        </dd>
        <dt>
        さらみと４種のチーズピザ
        </dt>
        <dd>
        ……… 990(+tax)
        </dd>
        <dt>
        淡路島の野菜でつくったごろごろピザ
        </dt>
        <dd>
        ……… 890(+tax)
        </dd>
        <dt>
        たっぷり生ハムとはちみつのスイートピザ
        </dt>
        <dd>
        ……… 1290(+tax)
        </dd>
      </dl>
      <img src="images/m10.png" class="menu__list--rimg">
    </div>
    <div class="menu__list--items fadein">
      <h2 class="menu__list--ttl">
        SIDE
      </h2>
      <dl class="menu__list--item">
        <dt>
        <b>５種の手仕込みピクルス</b> 
        </dt>
        <dd>
        <b>……… 690(+tax)</b>
        </dd>
        <dt>
        <b>朝採れ卵のとろっとオムレツ</b>
        </dt>
        <dd>
        <b>……… 490(+tax)</b>
        </dd>
        <dt>茄子のミートグラタン
        </dt>
        <dd>
        ……… 590(+tax)
        </dd>
        <dt>
        ブルーチーズはちみつがけ
        </dt>
        <dd>
        ……… 450(+tax)
        </dd>
        <dt>
        チーズ盛り合わせ5種
        </dt>
        <dd>
        ……… 890(+tax)
        </dd>
      </dl>
      <img src="images/m12.png" class="menu__list--limg">
    </div>
    <div class="menu__list--items fadein">
      <h2 class="menu__list--ttl">
        DESSERT
      </h2>
      <dl class="menu__list--item">
        <dt>
        <b>マスカルポーネチーズの焼きチーズケーキ</b>
        </dt>
        <dd>
        <b>……… 490(+tax)</b>
        </dd>
        <dt>
        <b>あまおうのいちごタルト</b>
        </dt>
        <dd>
        <b>……… 490(+tax)</b>
        </dd>
        <dt>かぼちゃのモンブラン
        </dt>
        <dd>
        ……… 490(+tax)
        </dd>
        <dt>
        紅あずまのスイートポテト
        </dt>
        <dd>
        ……… 420(+tax)
        </dd>
        <dt>
        本日のケーキ
        </dt>
        <dd>
        ……… 400(+tax)
        </dd>
      </dl>
      <img src="images/m14.png" class="menu__list--rimg">
    </div>
  </div>
</div>