
  <div class="header__main--sales">
    <div class="header__main--pic">
      <img src="images/main-pic1.jpg" alt="肉料理1">
      <img src="images/main-pic2.jpg" alt="肉料理2">
      <img src="images/main-pic3.jpg" alt="肉料理3">
      <img src="images/main-pic4.jpg" alt="肉料理4">
    </div>  
  </div>

    <%#
    <div class="header__main--sns">
      <a href="" ><i class="fab fa-instagram fa-5x icon-color"></i><img src=""></a>

      <a href="" ><i class="fab fa-twitter fa-5x icon-color"></i></a>
      
      <a><i class="fab fa-facebook-square fa-5x icon-color"></i></a>
    </div>
    %>

<main>
  <div class="container__top wrap">
    <div class="container__lbox">
      <h2 class="container__lbox--txt">こだわりの食事で<br class="pc-br">贅沢なひとときを</h2>
    </div>
    <a class="container__rbox">
      <div class="container__rbox--img">
        <img src="images/stake.jpg" alt="お知らせ写真" class="container__rbox--pic">
      </div>
      <div class="container__rbox--item">
        <h5 class="container__rbox--date">2021.05.01</h5>
        <p class="container__rbox--txt">ランチ営業はじめました。</p>
      </div>
    </a>
  </div>

    <div class="container__menu wrap">
      <h3 class="container__menu--ttl">
        \ 店主おすすめ こだわりの逸品 /
      </h3>
        <ul class="container__menu--list">
          <li>
            <img src="images/menu-1.jpg" alt="肉メニュー" class="container__menu--item fadein">
            <p class="container__menu--txt">
            国産牛フィレステーキ
            </p>
          </li>
          <li>
            <img src="images/menu2.jpg" alt="肉メニュー" class="container__menu--item fadein">
            <p class="container__menu--txt">
            自家製ローストビーフ
            </p>
          </li>
          <li>
            <img src="images/menu3.jpg" alt="肉メニュー" class="container__menu--item fadein">
            <p class="container__menu--txt">
            こだわりの鴨ロースト
            </p>
          </li>
          <li>
            <img src="images/menu4.jpg" alt="肉メニュー" class="container__menu--item fadein">
            <p class="container__menu--txt">
            淡路島の野菜でつくった釜焼ピザ
            </p>
          </li>
          <li>
            <img src="images/menu5.jpg" alt="肉メニュー" class="container__menu--item fadein">
            <p class="container__menu--txt">
            4種のチーズ&ビーフリゾット
            </p>
          </li>
          <li>
            <img src="images/menu-logo.ico" alt="ロゴ" class="container__menu--item container__menu--logo">
          </li>
       </ul>
    </div>

    <div class="container__blog fadein">
      <div class="wrap">
        <div class="container__blog--box">
          <div class="container__blog--lbox">
            <h3 class="container__blog--mttl">
              Blog
            </h3>
            <div class="container__blog--link">
              <a>もっと見る</a>
            </div>
          </div>

          <div class="container__blog--rbox">
            <a class="container__blog--item">
              <img src="images/takeout.jpg" alt="ブログの写真" class="container__blog--img">
              <h5 class="container__blog--date">
                2021.05.01
              </h5>
              <div class="container__blog--btn">
                <p class="container__blog--menu">
                    Take Out スタート
                </p>
                <h5 class="container__blog--announce">
                    お知らせ
                </h5>  
              </div>
             </a>
             <a class="container__blog--item">
                <img src="images/meat.jpg" alt="ブログの写真" class="container__blog--img">
                <h5 class="container__blog--date">
                  2021.05.01
                </h5>
                <div class="container__blog--btn">
                  <p class="container__blog--menu">
                      当店のお肉へのこだわり
                  </p>
                  <h5 class="container__blog--announce">
                      スタッフ日記
                  </h5>
                </div>
              </a>
              <a class="container__blog--item">
                <img src="images/bal.jpg" alt="ブログの写真" class="container__blog--img">
                <h5 class="container__blog--date">
                  2021.05.01
                </h5>
                <div class="container__blog--btn">
                  <p class="container__blog--menu">
                      Meat kitchenオープン
                  </p>
                  <h5 class="container__blog--announce">
                      お知らせ
                  </h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="container__clean wrap fadein">
        <h2 class="container__clean--ttl">
          Meat kitchenの衛生対策
        </h2>
        <ul class="container__clean--list">
          <li>
            <img src="images/clean1.png" alt="" class="container__clean--img">
            <p class="container__clean--item">
              従業員は全員マスクを着用しています。
            </p>
          </li>
          <li>
            <img src="images/clean2.png" alt="" class="container__clean--img">
            <p class="container__clean--item">
              店舗入り口や各所にアルコール消毒スプレーを設置しています。
            </p>
          </li>
          <li>
            <img src="images/clean3.png" alt="" class="container__clean--img">
            <p class="container__clean--item">
              検温を実施しています。発熱が認められるお客様のご入店はお断りいたしています。
            </p>
          </li>
          <li>
            <img src="images/clean4.png" alt="" class="container__clean--img">
            <p class="container__clean--item">
              ドアノブや冊子など、手に触れる部分を重点的にアルコールで消毒しています。
            </p>
          </li>
          <li>
            <img src="images/clean5.png" alt="" class="container__clean--img">
            <p class="container__clean--item">
              こまめな換気を実施しています。
            </p>
          </li>
          <li>
            <img src="images/clean6.png" alt="" class="container__clean--img">
            <p class="container__clean--item">
              お客様同士のスペースを開け、ご案内しております。
            </p>
          </li>
          <li>
            <img src="images/clean7.png" alt="" class="container__clean--img">
            <p class="container__clean--item">
              空間ウイルスを99.9%除菌できるオゾン空間除菌清浄機を設置しています。
            </p>
          </li>
        </ul>
      </div>
      
      <div class="container__map wrap fadein">
        <h2 class="container__map--ttl">
        Meat kitchenのご案内
        </h2>
        <div class="container__map--guide">
          <div class="container__map--lbox">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.6567846113126!2d139.80851171544617!3d35.710062680187654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ed0d12f9adf%3A0x7d1d4fb31f43f72a!2z5p2x5Lqs44K544Kr44Kk44OE44Oq44O8!5e0!3m2!1sja!2sjp!4v1545458808759" width="100%" height="450" frameborder="0" style="box-sizing: border-box; border-radius:5px; border: solid 5px #fff; filter:hue-rotate(330deg);-webkit-filter:hue-rotate(330deg)" allowfullscreen></iframe>
          </div>
          <div class="container__map--rbox">
            <dl>
              <dt>
              店名
              </dt>
              <dd>
              Meat kitchen
              </dd>
              <dt>
              住所
              </dt>
              <dd>
              東京都墨田区押上
              </dd>
              <dt>
              電話番号
              </dt>
              <dd>
              00-0000-0000
              <dt>
              営業時間
              </dt>
              <dd>
              ランチ
              11:30～14:30（L.O.14:00)<br><br>
              ディナー
              16:00～23:30（L.O.22:30）
              </dd>
              <dt>
              定休日
              </dt>
              <dd>
              火曜日
              </dd>
              <dt>
              アクセス
              </dt>
              <dd>
              東京メトロ半蔵門線押上駅よりすぐ
              </dd>
            </dl>
          </div>
        </div>
      </div>
<main>
<footer>
  <div class="footer">
    <div class="footer__content">
      <h4 class="footer__ttl">
        Meat kitchen
      </h4>
      <h5 class="footer__txt">
        Copyright © 2021 〇〇 Inc. All Rights Reserved.
      </h5>
    </div>
  </div> 
</footer>